@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root{
    font-size: 62.5%;
    --primaryFont : 'DM Sans', sans-serif;
    --charSpace : 6px; 
    --primaryColor : #3e4152;
    --secondaryColor : #fafbfc;
}
body{
    font-family: var(--primaryFont);
    scroll-behavior: smooth;
}
.slider{
    
    width: 100%;
    height: 450px;
    overflow: hidden;
}
  
.slides{
    width: 500%;
    height: 100%;
    display: flex;
}
  
.slides input{
    display: none;
}
  
.slide{
    width: 20%;
    transition: 800ms;
}
  
.slide img{
    width: 100%;
    height: 100%;
}



#flatdiscount{
    position :fixed;
    right: 0px;
    bottom: 130px;
    width: 50px;
    height: 250px;
    box-sizing:border-box;
    padding-left: 10px;
    background-color: #535766;
    color: #fff;
    letter-spacing:1px;
}
#sidePanel{
    font-size:30px;
    color: #fcfcfc;
}
#flatdiscount>h1{
    writing-mode: vertical-lr;
    height: 200px;
    text-align: center;
    margin:auto;
    font-size: 20px;
    font-weight: bolder;
    color: #fcfcfc;
   
}
body>h1{
    margin: 50px 25px;
    margin-top:8rem;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: var(--charSpace);
}
#adDiv
{
   margin-top:50px;
}
#deals{
   
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7,auto);
    grid-template-rows: auto;
    grid-gap: 3%;
}
#best{
   
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8,auto);
    grid-template-rows: repeat(2,auto);
    grid-gap: 1%;
}
#top{
  
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7,auto);
    grid-template-rows: repeat(1,auto);
    column-gap: 2%;
}

#categories{
  
    width: 100%;
    margin: auto;
    display: grid;
    background-color:#F6F6F6;
    grid-template-columns: repeat(8,auto);
    grid-template-rows: repeat(2,auto);
    column-gap: 2%;
}

#dealsTop{
   
    width: 100%;
    margin: auto;
    display: grid;
    background-color:#F6F6F6;
    grid-template-columns: repeat(8,auto);
    grid-template-rows: repeat(2,auto);
    gap: 2%;
}
#unmissable{
   
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8,auto);
    grid-template-rows: repeat(1,auto);
}
#colours{
   
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(2,auto);
    
}
#topInfluencers{
   
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows: repeat(1,auto);
   
}
#budget{
   
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8,auto);
    grid-template-rows: repeat(1,auto);
}
#trending{
   
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8,auto);
    grid-template-rows: repeat(1,auto);
   
}

@media only screen and (min-width: 421px) and (max-width: 780px) {
    .slider {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, auto);
    }

    #deals{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);

    }
  
    #best{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);
    }
    #top{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
    }
    #categories{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4,auto);
    }
    #dealsTop{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4,auto);
        
    }
    #unmissable{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
      
    }
    #colours{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
    }
    #topInfluencers{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }
    #budget{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
    }
    #trending{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
    }
}